.challenge-container {
  width: 150px;
  height: 200px;
  text-align: center;
  cursor: pointer;
  border: solid 1px #ccc;
  padding: 10px;
}

.challenge-container img {
  width: 80%;
  display: block;
  margin: 10px auto;
}

.challenge-container.selected {
  background-color: rgb(187, 203, 216);
}
