.tabs {
  display: flex;
}

.tab {
  flex-grow: 1;
  text-align: center;
  border: solid 1px #ccc;
  cursor: pointer;
  padding: 10px;
}

.tab.selected {
  background-color: #bbcbd8;
}

.body {
  padding: 10px 25px;
}
